@import "../../style/variables";

.title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 20px;
  width: 366px;
  height: 286px;
  background: rgba(14, 36, 64, 0.6);
  border-radius: 10px;

  h3 {
    font-family: $font-poppins;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.1rem;
    color: #ffd66e;
    margin: 0px 20px;
  }

  p {
    font-family: $font-raleway;
    font-size: 14px;
    line-height: 25px;
    text-align: justify;
    letter-spacing: 0.05rem;
    color: $white;
    margin: 0px 20px;
  }
}
