// Colors
$darkBlue: rgb(14, 36, 64);
$lightDarkBlue: rgb(20, 52, 91);
$yellow: rgb(255, 214, 110);
$white: rgb(240, 240, 240);

// Fonts Family
$font-poppins: "Poppins", sans-serif;
$font-raleway: "Raleway", sans-serif;

// Fonts Size
